

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --black: #303030;
  --grey: #909090;
  --off-white: #EDEEE9;
  --code: #D8DBCE;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  --sans-serif: 'Inter', sans-serif;
  background-color: var(--off-white);
  
  body {
    background-color: var(--off-white);
    color: var(--black);
    font-family: var(--sans-serif);
    min-height: 100vh;
    width: 100%;
    padding: 2.5vh 10vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    h1 {
      font-size: clamp(1rem, 6vw, 10rem);
      margin: 15vh 0 2rem;
    }
    
    a {
      text-decoration: underline;
      color: black;
    }
    
    code {
      font-size: 1rem;
      padding: 0 0.5rem;
      background-color: code;
    }
    
    .explanation {
      width: 100%;
      margin-bottom: 15vh;
      p {
        font-size: 1rem;
        max-width: 75ch;
        margin: 2rem 0;
      }
      
      ul:last-child {
        margin-bottom: 2rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        
        li {
          list-style: none;
          position: relative;
          margin: 0.5rem 0;
          &::before {
            content: '👉';
            position: absolute;
            top: -0.25rem;
            left: -2rem;
          }
        }
      }
    }
    
    .container {
      width: 100%;
      max-width: 768px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 2rem 1.5rem;
      background-color: code;
      
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
      
      .cta-form {
        margin-bottom: 2rem;
        text-align: center;
        
        @media (min-width: 768px) {
          margin-bottom: 0;
          margin-right: 2rem;
          text-align: left;
        }
        
        h2 {
        font-size: 1.5rem;
        width: 100%;
        max-width: 25ch;
        margin: 0 auto;
        text-align: center;
        
          @media (min-width: 768px) {
            text-align: left;
            margin: 0;
          }
        }
        
        p {
          margin-top: 1rem;
          font-size: 1rem;
          width: 100%;
          max-width: 24ch;
        }
      }
      
    }
    
}
  


  .form {
      align-self: center;
    }


  
  
    .form__input {
      width: clamp(120px, 50vw, 420px);
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid black;
      border-radius: 2px;
      margin: 0.625rem auto;
      transition: all 250ms;
      @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);
      }
      
      
      &:focus {
        outline: none;
        border-top-color: rgba(0,0,0,0.1);
      }

      /* When the input field (.form__input) is in focus, 
transform the .form__label and change colors*/
      /* ALSO, if the input field's placeholder is NOT shown (when the input field has content),
         transform the .form__label and change colors. */
      &:focus + .form__label, &:not(:placeholder-shown) + .form__label {
        transform: translateY(-4.50rem) scale(1);
        color: black;
      }
      
      /* THIS PART IS IMPORTANT!! */
      /* The block below hides the placeholder entirely. */
      /* For all intents and purposes, the placeholder no longer exists. */
      /* What shows on the input field is only the label*. */
      /* HOWEVER, the input fields still recognizes that the placeholder exists!*/
      /* The placeholder is just invisible. We need the placeholder to exist for
         some weird CSS stuff. If we skip this, we can't make it CSS-only. */
      &::placeholder {
          display: none;
          color: transparent;
        
          
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
      }
      
      /* When the placeholder is NOT shown,
         style the top border. */
      /* This makes the top border fade-out when the placeholder disappears. */
      &:not(:placeholder-shown) {
        border-top-color: rgba(0, 0, 0, 0.5);
      }
    }

    .form__label {
      font-size: 1rem;
      color: var(--grey);
      display: block;
      
      /* Moves the label on TOP of the placeholder */
      /* You'll need to change this as needed */
      transform: translate(1.25rem,-2.5rem);
      transform-origin: 0 0; /* Used later for transitions */
      transition: all 500ms;
      
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      
      /* THIS PART IS IMPORTANT! */
      /* This line prevents the label from being selected.*/
      /* This is crucial because if this line doesn't exist, users can
         click on the label, instead of the input field. That's bad UX! */
      pointer-events: none; 
    }
    
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.subcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #85A98F;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;

}

.signform {
    width: 50%;
    display: inline-flex;
    justify-content: right;
    align-items: right;
    margin-top: 50px;
}

nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  margin: 0
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 130px;
}

/* Style the links inside the navigation bar */
nav a {
  color: #2E2D4D;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
  font-size: large;
}

/* Change the color when hovering over a link */
nav a:hover {
  background-color: #575757;;
  border-radius: 5px;
}

/* Add an active class for the current page */
nav a.active {
  background-color: #04AA6D;
  border-radius: 5px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  nav {
      flex-direction: column;
      align-items: center;
  }
  nav a {
      display: block;
      text-align: center;
      width: 100%;
  }
}
a {
  text-decoration: none;
}