:root {
    --var1: #FFEBD3;
    --var2: #FFB4AC;
    --var3: #679186;
    --var4: #264E70;
}


a {
    color: var(--var1);
    text-decoration: none;
    font-family: "Nova Round", system-ui;
}

.nova-round-regular {
    font-family: "Nova Round", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
body {
   
    font-family: "Bodoni Moda", serif;
    background-color: var(--var1);
} 


.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

.Header {
    text-align: center;
    padding-left: 10px;
}

section {
    font-weight: 60px;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--var4);
    color: var(--var1);
    text-align: center;
    padding: 10px;
}

#photo img {
    width: 200px;
    height: auto;
}

#photo {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

h3 .relative{
    position: relative;
    right: 20px;
}

h1 {
    position: absolute;
    right: 20px;
}